.favorites__subtitle {
  @include fonts(28px, 33px, 700);
  margin-bottom: 20px;

  text-align: center;

  @media screen and (min-width: 768px) {
    @include fonts(42px, 49px, 700);
    font-size: 42px;
  }
}

.favorites__desc {
  margin-bottom: 60px;

  @include fonts(14px, 16px);
  text-align: center;

  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

%favorites__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 11px solid var(--background-cl);
  border-radius: 50%;

  &:hover,
  &:focus {
    border: 11px solid var(--accent-cl);
  }
}
.favorites-mobile__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.favorites-mobile__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.favorites-mobile__link {
  @extend %favorites__link;

  @include hover-transition(border-color);
  width: 280px;
  height: 280px;
}

/* для tablet та desktop */

.favorites__list {
  display: flex;
  flex-wrap: wrap;
  gap: 31px;
}

.favorites__list {
  justify-content: center;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.favorites__link {
  @extend %favorites__link;

  @include hover-transition(border-color);
  @media screen and (min-width: 768px) {
    width: 336px;
    height: 336px;
    border: 14px solid var(--background-cl);
  }
  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 395px;
    border: 16px solid var(--background-cl);
  }
}
