.section-hero {
    padding-bottom: -15px;
    padding-top: 0px;
  
    &__thumb {
      display: flex;
      flex-direction: column;
      gap: 28px;
  
      @media screen and (min-width: 768px) {
                  width: 537px;
                }
  
                @media screen and (min-width: 1280px) {
                  width: 502px;
                }
    }
  
    &__title {
      font-weight: 700;
      font-size: 28px;
      line-height: calc(33px / 28px);
      color: var(--main-txt-cl);
  
      @media screen and (min-width: 768px) {
          font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
        } 
  
        @media screen and (min-width: 1280px) {
          font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
        } 
    }
  
    &__text {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.5;
      color: var(--main-txt-cl);
  
      @media screen and (min-width: 768px) {
          font-size: 16px;
        } 
  
      @media screen and (min-width: 768px) and (max-width: 1279px) {
          width: 336px;
        }
    }
  
    &__btn {
      width: 98px;
      height: 32px;
  
      font-weight: 500;
      font-size: 13px;
      line-height: 1.5;
      background-color: var(--accent-cl);
      color: var(--main-txt-cl);
  
      &:hover,
      &:focus {
        background-color: var(--btn-hover-cl);
      }
    }
  
    &__img {
      display: none;
  
      @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 320px;
        height: 320px;
      }
  
      @media screen and (min-width: 1280px) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 580px;
        height: 580px;
      }
    }
  }
  
.section-hero-general {
  display: flex;
  padding-top: 0px;
}

@media screen and (min-width:768px) {
  .section-hero {
    padding-bottom: 60px;
    padding-top: 60px;
   }
  
  
  .section-hero__btn {
    padding: 6px 18px;
  }
  
  .btn {
    padding: 6px 18px;
  }
/*
  .slider {
    position: absolute;
    width: 320px;
    top: 200px;
    left: 408px;
  }
*/
  }

@media screen and (min-width:1200px) {

 .section-hero {
    padding-bottom: 0px;
    padding-top: 0px;
   }


.slider {
  width: 600px;
  padding-top: 14px;
}

.swiper {
  width: 600px;
  padding-top: 0px;
}

.section-hero__title {
 width: 502px;
}

.section-hero__thumb {
  padding-top: 159px;
}

.section-hero__text {
 width: 502px;
}

}

/*

@media screen and (min-width:768px) {
  .section-hero-general {
    padding-bottom: 0px;
  }
  
  .section-hero__title {
    width: 350px;
   }

   .section-hero {
    padding-bottom: 50px;
    padding-top: 60px;
   }

   

   .swiper-wrapper {
    padding-top: 120px;
   }
}

*/

