.offerings {
  padding-top: 350px;

  @media screen and (min-width: 768px) {
    padding-top: 544px;
  }

  @media screen and (min-width: 1280px) {
    // max-width: 526px;
    margin-left: auto;
    flex-basis: 48%;
    justify-content: left;
    padding-top: 220px;
  }
}

.offerings-title {
  margin-bottom: 28px;

  @include fonts(28px, 33px, 700);
  color: var(--main-txt-cl);

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
    @include fonts(42px, 49px, 700);
  }

  @media screen and (min-width: 1280px) {
    @include fonts(42px, 50px, 700);
  }
}
.offerings-list {
  margin-bottom: 28px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;

    margin-top: 40px;
    margin-bottom: 40px;
    gap: 116px;
  }
  @media screen and (min-width: 1280px) {
    // margin-left: auto;
    // justify-content: right;
    gap: 67px;
  }
}
.offerings-list__name {
  margin-bottom: 16px;
  margin-top: 8px;
  @include fonts(18px, 21px, 700);
  @media screen and (min-width: 1280px) {
    max-width: 252px;
    @include fonts(18px, 25px, 700);
  }
}
.offerings-list-item {
  margin-top: 28px;

  @media screen and (min-width: 768px) {
    max-width: 252px;
    margin-top: 0px;
  }
}
@mixin offering-icon(
  $bg-im,
  $dp: block,
  $w: 48px,
  $h: 48px,
  $bd-r: 50%,
  $bg-cl: #ffffff,
  $bg-rep: no-repeat,
  $bg-pos: center
) {
  display: $dp;
  width: $w;
  height: $h;
  border-radius: $bd-r;
  background-color: $bg-cl;
  background-image: $bg-im;
  background-repeat: $bg-rep;
  background-position: $bg-pos;
}
.offerings__item-deivery {
  &:before {
    content: '';
    @include offering-icon(url(../images/offerings/rocket.svg));
  }
}
.offerings__item-order {
  &:before {
    content: '';
    @include offering-icon(url(../images/offerings/touch.svg));
  }
}

.offerings-title__description,
.offerings-list__text {
  min-width: 272px;
  @include fonts(14px, 16px, 400);
  @media screen and (min-width: 768px) {
    @include fonts(16px, 19px, 400);
  }
  @media screen and (min-width: 1280px) {
    @include fonts(16px, 24px, 400);
  }
}
.offerings-title__description {
  @media screen and (min-width: 768px) {
    min-width: 526px;
  }
}
.offerings-icons {
  position: relative;
  margin-bottom: 8px;
}
.offerings-icons--green {
  position: absolute;
  top: 8px;
  left: 8px;
}

.offerings-container-desktop {
  background-repeat: no-repeat;
  // padding-top: 410px;
  @media screen and (min-width: 1280px) {
    display: flex;

    background-image: url('../images/offerings/all-apple@1x_lg.png');
    background-size: 550px 604px;
    background-position: 16px 77px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/offerings/all-apple@2x_lg.png');
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    background-image: url('../images/offerings/all-apple@1x_md-big.png'),
      url('../images/offerings/apple@1x_md-middle.png'),
      url('../images/offerings/apple@1x_md-small.png');
    background-size: 357px, 166px, 108px;
    background-position: 32px 50px, 418px 166px, 628px 240px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/offerings/all-apple@2x_md-big.png'),
        url('../images/offerings/apple@2x_md-middle.png'),
        url('../images/offerings/apple@2x_md-small.png');
    }
  }
  @media screen and (max-width: 767px) {
    background-image: url('../images/offerings/all-apple@1x_sm.png');
    background-repeat: no-repeat;
    background-size: 280px 309px;
    background-position: center -16px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/offerings/all-apple@2x_sm.png');
    }
  }
}

.offerings-background {
  background-repeat: no-repeat;

  @media screen and (min-width: 1280px) {
    background-image: url('../images/offerings/bcg-offerings@1x_lg.png');
    background-size: 100% 100%;
    background-position: center;

    margin-top: -161px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/offerings/bcg-offerings@2x_lg.png');
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-top: -100px;

    background-image: url('../images/offerings/bcg-offerings@1x_md.png');
    background-size: 100% 100%;
    background-position: center;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/offerings/bcg-offerings@2x_md.png');
    }
  }
  @media screen and (max-width: 767px) {
    background-image: url('../images/offerings/bcg-offerings@1x_sm.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/offerings/bcg-offerings@2x_sm.png');
    }
  }
}

.offerings-button {
  margin-right: 24px;
  font-weight: 500;
  font-size: 13px;
  line-height: calc(20 / 13);
  color: var(--main-txt-cl);
  background-color: #ffffff;
  border: solid 2px var(--icons-cl);
  cursor: pointer;
  font-family: inherit;
  padding: 11px 22px;
  border-radius: 30px;
  @include hover-transition(border);

  &:hover,
  &:focus {
    border: solid 2px #597d00;
  }
}
.offer__btn {
  display: inline-block;
}
.read-button {
  display: inline-flex;
  align-items: center;
  background-color: var(--background-cl);
  // width: 83px;
  height: 34px;
  border: transparent;
  font-size: 13.67px;
  color: var(--mobile-menu-cl);
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.read-button__icon {
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
