.footer-subscribe {
  margin-top: 40px;
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 12px;
    @include fonts(14, 21, 500);
  }

  &__field {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 13px;
      align-items: flex-start;
    }
  }

  &__input {
    width: 279px;
    height: 42px;
    padding: 0;
    padding-left: 12px;
    border: 0.85px solid var(--background-cl);
    border-radius: 30px;
    outline: transparent;

    @include fonts(12px, 18px);
  }

  &__input::placeholder {
    @include fonts(12px, 18px);
    color: #505050;
  }

  &__input:not(:placeholder-shown) {
    border-color: var(--icons-cl);
  }

  &__input:not(:placeholder-shown):required:invalid {
    border-color: var(--inp-err-bd-cl);
  }

  &__error-notification {
    position: absolute;
    left: 0;
    top: 46px;
    display: flex;
    align-items: center;
    opacity: 0;

    @include hover-transition(opacity);
  }

  &__error {
    @include fonts(10px, 15px);

    color: var(--inp-err-bd-cl);
  }

  &__input:not(:placeholder-shown):required:invalid + &__error-notification {
    opacity: 1;
  }

  &__btn {
    @include fonts(13px, 20px, 500);

    padding: 11px 22px;
    border: 0.85px solid var(--icons-cl);

    background-color: transparent;
    color: var(--main-txt-cl);

    @include hover-transition(background-color);

    &:hover,
    &:focus {
      background-color: var(--background-cl);
    }
  }

  &__agreement {
    margin-top: 20px;
    @include fonts(10px, 15px);
    color: var(--main-txt-cl);

    @media screen and (min-width: 768px) {
      margin-top: 23px;
      @include fonts(12px, 14px);
    }
  }

  &__link {
    text-decoration: underline;
    text-underline-position: under;
    color: var(--icons-cl);
  }
}

.icon-error {
  margin-right: 4px;
}
