.pages {
  display: flex;
  flex-direction: column;
  

  &__header {
    display: none;
    

    @media screen and (min-width: 768px) {
      gap: 28px;
      display: flex;
      flex-direction: row;
    }
  }

    &__footer {
      gap: 20px;
      @media screen and (min-width: 768px) {
        gap: 28px;
        display: flex;
        flex-direction: row;
      }
  }

  &__link {
    @include fonts(14px, 16px);
    color: var(--mobile-menu-cl);

    @include hover-transition(color);
  }

  &__link:hover,
  &__link:focus {
    font-weight: 500;
    text-decoration-line: underline;
    color: var(--accent-cl);

    @media screen and (min-width: 1280px) {
      font-weight: 700;
    }
  }
}
