:root {
  /* Основні шрифти */
  --main-font: 'Roboto', sans-serif;
  // --secondary-font: ;

  /* Кольори тексту */
  --main-txt-cl: #2c2c2c;
  --accent-cl: #bbf330;
  --mobile-menu-cl: #000000;

  --icons-cl: #7eb101;
  --background-cl: #ffe550;

  --btn-hover-cl: #b5ff00;
}
