<section class="favorites__section section">
    <div class="container">
        <h2 class="favorites__subtitle">Some of Our Favorites</h2>
        <p class="favorites__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="favorites-mobile__list list">
            <li class="favorites-mobile__item">
                <a class="favorites-mobile__link" href="#"><img
                        srcset="./images/favorites/mobil/gamburger.png 223w, ./images/favorites/mobil/gamburger-446.png 446w"
                        src="./images/favorites/mobil/gamburger.png" alt="gamburger" class="favorites-mobile__img"
                        width="223" height="223">
                </a>
            </li>
            <li class="favorites-mobile__item">
                <a class="favorites-mobile__link" href="#"><img
                        srcset="./images/favorites/mobil/pasta.png 223w, ./images/favorites/mobil/pasta-446.png 446w"
                        src="./images/favorites/mobil/pasta.png" alt="pasta" class="favorites-mobile__img" width="223"
                        height="223">
                </a>
            </li>
            <li class="favorites-mobile__item">
                <a class="favorites-mobile__link" href="#"><img
                        srcset="./images/favorites/mobil/pizza.png 223w, ./images/favorites/mobil/pizza-446.png 446w"
                        src="./images/favorites/mobil/pizza.png" alt="pizza" class="favorites-mobile__img" width="223"
                        height="223">
                </a>
            </li>
        </ul>
    </div>
</section>