<section class="favorites__section section" id="menu">
    <div class="container">
        <h2 class="favorites__subtitle">Some of Our Favorites</h2>
        <p class="favorites__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="favorites-mobile__list list">
            <li class="favorites-mobile__item">
                <a class="favorites-mobile__link" href="#"><img
                        srcset="./images/favorites/mobil/gamburger.png 223w, ./images/favorites/mobil/gamburger-446.png 446w"
                        src="./images/favorites/mobil/gamburger.png" alt="gamburger" class="favorites-mobile__img"
                        width="223" height="223">
                </a>
            </li>
            <li class="favorites-mobile__item">
                <a class="favorites-mobile__link" href="#"><img
                        srcset="./images/favorites/mobil/pasta.png 223w, ./images/favorites/mobil/pasta-446.png 446w"
                        src="./images/favorites/mobil/pasta.png" alt="pasta" class="favorites-mobile__img" width="223"
                        height="223">
                </a>
            </li>
            <li class="favorites-mobile__item">
                <a class="favorites-mobile__link" href="#"><img
                        srcset="./images/favorites/mobil/pizza.png 223w, ./images/favorites/mobil/pizza-446.png 446w"
                        src="./images/favorites/mobil/pizza.png" alt="pizza" class="favorites-mobile__img" width="223"
                        height="223">
                </a>
            </li>
        </ul>

        <ul class="favorites__list list">
            <li class="favorites__item">
                <a href="#" class="favorites__link link"> <img
                        srcset="./images/favorites/tablet/gamburger-tb.png 268w, ./images/favorites/tablet/gamburger-tb-536.png 536w, ./images/favorites/desktop/gamburger-dt.png 315w, ./images/favorites/desktop/gamburger-dt-630.png 630w"
                        sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, 100vw"
                        src="./images/favorites/tablet/gamburger-tb.png" alt="gamburger" class="favorites__img img">
                </a>
            </li>
            <li class="favorites__item">
                <a href="#" class="favorites__link link"> <img
                        srcset="./images/favorites/tablet/pasta-tb.png 268w, ./images/favorites/tablet/pasta-tb-536.png 536w, ./images/favorites/desktop/pasta-dt.png 315w, ./images/favorites/desktop/pasta-dt-630.png 630w"
                        sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, 100vw"
                        src="./images/favorites/tablet/pasta-tb.png" alt="Pasta" class="favorites__img img">
                </a>
            </li>
            <li class="favorites__item">
                <a href="#" class="favorites__link link"> <img
                        srcset="./images/favorites/tablet/pizza-tb.png 268w, ./images/favorites/tablet/pizza-tb-536.png 536w, ./images/favorites/desktop/pizza-dt.png 315w, ./images/favorites/desktop/pizza-dt-630.png 630w"
                        sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, 100vw"
                        src="./images/favorites/tablet/pizza-tb.png" alt="Pizza" class="favorites__img img">
                </a>
            </li>
            <li class="favorites__item">
                <a href="#" class="favorites__link link"> <img
                        srcset="./images/favorites/tablet/chicken-tb.png 268w, ./images/favorites/tablet/chicken-tb-536.png 536w, ./images/favorites/desktop/chicken-dt.png 315w, ./images/favorites/desktop/chicken-dt-630.png 630w"
                        sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, 100vw"
                        src="./images/favorites/tablet/chicken-tb.png" alt="chicken" class="favorites__img img">
                </a>
            </li>
            <li class="favorites__item">
                <a href="#" class="favorites__link link"> <img
                        srcset="./images/favorites/tablet/salat-tb.png 268w, ./images/favorites/tablet/salat-tb-536.png 536w, ./images/favorites/desktop/salat-dt.png 315w, ./images/favorites/desktop/salat-dt-630.png 630w"
                        sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, 100vw"
                        src="./images/favorites/tablet/salat-tb.png" alt="salat" class="favorites__img img">
                </a>
            </li>
            <li class="favorites__item">
                <a href="#" class="favorites__link link"> <img
                        srcset="./images/favorites/tablet/borshch-tb.png 268w, ./images/favorites/tablet/borshch-tb-536.png 536w, ./images/favorites/desktop/borshch-dt.png 315w, ./images/favorites/desktop/borshch-dt-630.png 630w"
                        sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, 100vw"
                        src="./images/favorites/tablet/borshch-tb.png" alt="borshch" class="favorites__img img">
                </a>
            </li>
        </ul>
    </div>
</section>