<footer class="footer">
  <div class="footer-container container">
    <div class="footer-thumb">
      <nav class="navigation navigation__footer">
        <a href="./index.html" class="logo-link">
          <svg class="icon-logo" width="69px" height="52px">
            <use href="./images/icon/icons.svg#icon-logo"></use>
          </svg>
        </a>

        <ul class="pages list pages__footer">
          <li class="pages__item">
            <a href="#" class="pages__link link">Home</a>
          </li>

          <li class="pages__item">
            <a href="#about" class="pages__link link">About</a>
          </li>

          <li class="pages__item">
            <a href="#service" class="pages__link link">Service</a>
          </li>

          <li class="pages__item">
            <a href="#menu" class="pages__link link">Menu</a>
          </li>

          <li class="pages__item">
            <a href="#contact" class="pages__link link">Contact</a>
          </li>
        </ul>
      </nav>

      <div class="footer-subscribe">
        <strong class="footer-subscribe__title">Subscribe</strong>
        <form class="footer-subscribe__field">
          <input
              type="email"
              class="footer-subscribe__input"
              name="footer-email"
              placeholder="Enter your email"
              required
            />   
          
          <div class="footer-subscribe__error-notification">
            <svg class="icon-error" width="11px" height="11px">
              <use href="./images/icon/icons.svg#icon-error"></use>
            </svg>
            <span class="footer-subscribe__error">              
              Not a valid email address (example@email.com)
            </span>
          </div>

          <button type="submit" class="btn footer-subscribe__btn">
            Subscribe
          </button>
        </form>
        <p class="footer-subscribe__agreement">
          <span>By subscribing you agree to with our</span>
          <a href="#" class="footer-subscribe__link link">Privacy Policy</a>
        </p>
      </div>
    </div>

    <div class="info">
      <ul class="info__list list">
        <li class="info__item">
          <a href="#" class="info__link link">Privacy Policy</a>
        </li>

        <li class="info__item">
          <a href="#" class="info__link link">Terms of Service</a>
        </li>

        <li class="info__item">
          <a href="#" class="info__link link">Cookies Settings</a>
        </li>
      </ul>

      <p class="info__signature">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
