<header class="header">
    <div class="container header__container">

      <nav class="navigation navigation__header">
        <a href="./index.html" class="logo-link">
          <svg class="icon-logo" width="66px" height="52px">
            <use href="./images/icon/icons.svg#icon-logo"></use>
          </svg>
        </a>
    
                <ul class="pages list pages__header">
              <li class="pages__item">
                <a href="#" class="pages__link link">Home</a>
              </li>
          
              <li class="pages__item">
                <a href="#about" class="pages__link link">About</a>
              </li>
          
              <li class="pages__item">
                  <a href="#service" class="pages__link link">Service</a>
              </li>
          
              <li class="pages__item">
                  <a href="#menu" class="pages__link link">Menu</a>
              </li>
          
              <li class="pages__item">
                  <a href="#contact" class="pages__link link">Contact</a>
              </li>
            </ul>
          </nav>
    
          <button type="button" class="menu-burger" data-menu-open>
            <svg class="burger" width="28px" height="28px">
              <use href="./images/icon/icons.svg#icon-menu"></use>
            </svg>
          </button>

            <button type="button" class="btn header__btn">Order Now</button>
    </div>
      </header>
       
      <div class="menu" data-menu>
        <ul class="list menu__pages">
          <li class="menu__item">
            <a href="#" class="menu__link link">Home</a>
          </li>
      
          <li class="menu__item">
            <a href="#about" class="menu__link link">About</a>
          </li>
      
          <li class="menu__item">
              <a href="#service" class="menu__link link">Service</a>
          </li>
      
          <li class="menu__item">
              <a href="#menu" class="menu__link link">Menu</a>
          </li>
      
          <li class="menu__item">
              <a href="#contact" class="menu__link link">Contact</a>
          </li>
        </ul>
      
        <button type="button" data-menu-close>
          <svg class="icon-close" width="24px" height="24px">
            <use href="./images/icon/icons.svg#icon-close"></use>
          </svg>
        </button>
</div>

<!-- // Scripts -->   
<script src="./js/menu.js"></script>