<section class="section-hero section">
    <div class="container">
        <div class="section-hero-general">
            <div class="section-hero__thumb">
                <h1 class="section-hero__title">Enjoy Your Favorite Food From Anywhere</h1>
                <p class="section-hero__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                    varius enim in eros elementum tristique. Duis cursus, mi quis viverra
                    ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
                </p>
                <button type="button" class="btn section-hero__btn">Order Now</button>
            </div>



            <div class="slider">
                <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <img srcset="./images/hero/tablet/foto-1-tb.png 292w, ./images/hero/tablet/foto-1-tb-584.png 584w, ./images/hero/desktop/foto-1-dt.png 528w, ./images/hero/desktop/foto-1-dt-528.png 1056w"
                                sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px, 100vw"
                                src="./images/hero/tablet/foto-1-tb.png" alt="meat">
                        </div>
                        <div class="swiper-slide">
                            <img srcset="./images/hero/tablet/foto-2-tb.png 292w, ./images/hero/tablet/foto-2-tb-584.png 584w, ./images/hero/desktop/foto-2-dt.png 528w, ./images/hero/desktop/foto-2-dt-528.png 1056w"
                                sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px, 100vw"
                                src="./images/hero/tablet/foto-2-tb.png" alt="salat">
                        </div>
                        <div class="swiper-slide">
                            <img srcset="./images/hero/tablet/foto-3-tb.png 292w, ./images/hero/tablet/foto-3-tb-584.png 584w, ./images/hero/desktop/foto-3-dt.png 528w, ./images/hero/desktop/foto-3-dt-528.png 1056w"
                                sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px, 100vw"
                                src="./images/hero/tablet/foto-3-tb.png" alt="eggs">
                        </div>

                    </div>

                    <!-- If we need navigation buttons -->


                </div>

                <div class="swiper-button-next swiper-button">
                    <svg class="swiper__icon">
                        <use href="./images/icon/icons.svg#icon-left"></use>
                    </svg>

                </div>
                <div class="swiper-button-prev swiper-button">
                    <svg class="swiper__icon">
                        <use href="./images/icon/icons.svg#icon-right"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>

</section>