<section>
  <div>
    <img src="./images/offerings/apple@1x_sm" alt="Green apple" width="" height="" />
</div>
    <img
      srcset="
        ./images/images-offerings/apple@1x_sm.png         280w,
        ./images/images-offerings/apple@2x_sm.png        560w,
        ./images/images-offerings/apple@1x_md.png         357w,
        ./images/images-offerings/apple@2x_md.png         714w,
        ./images/images-offerings/apple@1x_lg.png         550w,
        ./images/images-offerings/apple@2x_lg.png        1100w,  
      "
      sizes="(min-width: 1280px) 550px, (min-width: 768px) 357px, 100vw"
      src="./images/images-offerings/apple@1x_sm.png"
      alt="Green apple"
      width="280"
      height="auto"
    />

    <img
      srcset="
        ./images/images-offerings/apple@1x_md-middle.png 166w,
        ./images/images-offerings/apple@2x_md-middle.png 332w
      "
      sizes="(min-width: 768px) 166px"
      src="./images/images-offerings/apple@1x_md-middle.png"
      alt="Smaller apple"
      width=""
      height=""
    />

    <img
      srcset="
        ./images/images-offerings/apple@1x_md-small.png 108w,
        ./images/images-offerings/apple@2x_md-small.png 216w
      "
      sizes="(min-width: 768px) 108px"
      src="./images/images-offerings/apple@1x_md-small.png"
      alt="The smallest apple"
      width=""
      height=""
    />
  </div>

  <h2>What’s Special About Our Offerings</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
    enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros
    dolor interdum nulla, ut commodo diam libero vitae erat.
  </p>
  <ul>
    <li>
      <div>

        <svg width="" height="">
          <use href="#"></use>
        </svg>

        <svg width="" height="">
          <use href="#"></use>
        </svg>

      </div>
      <h3>Fastest Delivery</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros.
      </p>
    </li>
    <li>
      <div>
        <svg width="" height="">
          <use href="#"></use>
        </svg>
      </div>
      <h3>Easy to order</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros.
      </p>
    </li>
  </ul>
  <button class="offerings-button" type="button">Order Now</button>
  <button class="read-button" type="button">Read More</button>
</section>
